@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-purple: #7F3FBF;
  --color-blue: #1C8EF9;
  --background: #f5f5f5;
  --foreground: #171717;
  --grey: #cacaca;
  --text: #0a0a0a;
  --black: #171717;
  --white: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-purple: #7F3FBF;
    --color-blue: #1C8EF9;
    --background: #0a0a0a;
    --foreground: #ededed;
    --grey: #cacaca;
    --text: #0a0a0a;
    --black: #171717;
    --white: #f5f5f5;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  z-index: 9999
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .shadow-custom {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}

.loader {
  width: 9px;
  height: 9px;
  background: #000;
  color: #000;
  box-shadow: 
    -18px -9px,0 -9px,18px -9px,
    -18px  0  ,       18px  0  ,
    -18px  9px,0  9px,18px  9px,
    -18px 18px,0 18px,18px 18px;
  animation: l29 2s infinite;
}

@keyframes l29 {
  10% {
   box-shadow: 
     -18px -9px,0 -9px,18px -9px,
     -18px  0  ,       18px  0  ,
     -18px  9px #0000,0  9px,18px  9px #0000,
     -18px 18px,0 18px,18px 18px;
  }
  20% {
   box-shadow: 
     -18px -9px,0 -9px,18px -9px,
     -18px  0  ,       18px  0  ,
     -18px  9px,0  9px,18px  9px #0000,
     -18px 18px #0000,0 18px,18px 18px;
  }
  30% {
   box-shadow: 
     -18px -9px,0 -9px #0000,18px -9px,
     -18px  0   #0000,       18px  0  ,
     -18px  9px,0  9px #0000,18px  9px,
     -18px 18px #0000,0 18px,18px 18px #0000;
  }
  40% {
   box-shadow: 
     -18px -9px,0 -9px,18px -9px,
     -18px  0  #0000,       18px  0 #0000,
     -18px  9px,0  9px,18px  9px,
     -18px 18px,0 18px,18px 18px;
  }
  50% {
   box-shadow: 
     -18px -9px,0 -9px,18px -9px,
     -18px  0  ,       18px  0  #0000,
     -18px  9px #0000,0  9px,18px  9px,
     -18px 18px,0 18px,18px 18px;
  }
  60% {
   box-shadow: 
     -18px -9px,0 -9px #0000,18px -9px,
     -18px  0  ,       18px  0  ,
     -18px  9px #0000,0  9px,18px  9px,
     -18px 18px #0000,0 18px,18px 18px;
  }
  70% {
   box-shadow: 
     -18px -9px,0 -9px #0000,18px -9px #0000,
     -18px  0  ,       18px  0  ,
     -18px  9px,0  9px,18px  9px,
     -18px 18px #0000,0 18px,18px 18px;
  }
  80% {
   box-shadow: 
     -18px -9px #0000,0 -9px,18px -9px,
     -18px  0  ,       18px  0  ,
     -18px  9px,0  9px,18px  9px,
     -18px 18px,0 18px,18px 18px #0000;
  }
  90% {
   box-shadow: 
     -18px -9px #0000,0 -9px,18px -9px,
     -18px  0  ,       18px  0  ,
     -18px  9px,0  9px #0000,18px  9px,
     -18px 18px,0 18px,18px 18px #0000;
  }
}